{{define "title"}}Home{{end}} 
{{define "main"}} 
{{if .JobPosts}}
<form action="/filterBy" method="GET" class="form-filter-home">
  <div class="form-filter-container">
    <label for="position">Position</label>
    <img src="/static/img/icon-search.svg" alt="icon-for-search-by-position">
    <input type="text" name="position" id="filterByPosition" placeholder="Filter by position...">
  </div>

  <div class="form-filter-container form-filter-container-middle">    
    <label for="location">Location</label>
    <img src="/static/img/icon-location.svg" alt="icon-for-search-by-location">
    <input type="text" name="location" id="filterByLocation" placeholder="Filter by location">
  </div>

  <div class="form-filter-container">
    <input type="checkbox" name="contract" id="filterByContract" >
    <label for="contract">Full Time Only</label>
    <button type="submit" class="form-submit">Search</button>
  </div>
  <div class="form-filter-container form-filter-container-search-mobile">
    <img src="/static/img/icon-filter.svg" alt="icon-for-search-by-contract">
    <button type="submit" class="form-submit form-submit-mobile">
      <img src="/static/img/icon-search-white.svg" alt="icon-for-search-by-contract">

    </button>

  </div>
</form>
<section class="jobposts-container">
  {{range .JobPosts}}
  <a href="/jobpost/view/{{.ID}}">
    <article class="jobpost-home">
      <!-- <p>#{{.ID}}</p> -->
      <div class="jobpost-home__company-logo-container" style="background-color: {{ .Company.LogoBgColor}};">{{.Company.LogoSVG}}</div>
      <div class="jobpost-home__jobpost-info">

        <p>{{humanDate .PostedAt}}</p>
        <span class="jobpost-info__separator"></span>
        <p>{{.Contract}}</p>
      </div>
      <h2 class="jobpost-home__position">{{.Position}}</h2>
      <p class="jobpost-home__company">{{.Company.Name}}</p>
      <p class="jobpost-home__location">{{.Location}}</p>
    </article>
  </a>
  {{end}}
</sect>
{{else}}
<p>There is nothing to show yet!</p>
{{end}}
{{end}}
