:root {

  --main-color: hsl(235, 69%, 61%);
  --bg-color: hsl(210, 22%, 96%);
  --card-color: hsl(0, 0%, 100%);
  --text-titles: hsl(219, 29%, 14%);
  --text-paragraph: hsl(210, 29%, 40%);

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: 'Kumbh Sans', sans-serif;
}

html {
  height: 100%;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--bg-color);
  color: var(--text-paragraph);
  overflow-y: scroll;
}

.pd-bottom-1 {
  padding-bottom: 1rem !important;
}
.pd-bottom-2 {
  padding-bottom: 1.75rem !important;
}
.pd-bottom-3 {
  padding-bottom: 2.5rem !important;
}
.pd-bottom-4 {
  padding-bottom: 3.25rem !important;
}
.pd-bottom-5 {
  padding-bottom: 3.75rem !important;
}

header {
  height: 20vh;
  background-image: url('/static/img/bg-pattern-header.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5%;
}

main {
  position: relative;
  padding-top: 75px;
  background-color: var(--bg-color);
}

.base-footer-go {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-block: 0.25rem;
  flex-grow: 1;
  background-color: var(--bg-color);
}

.base-footer-go div {
  margin-top: auto;
  text-align: center;
  background-color: var(--bg-color);
}

.base-footer-go a {
  color: #5964e0;
  text-decoration: underline;
  font-weight: 500;
}

.wrapper {
  margin: 0 auto;
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  transform: translateY(-40%);
}

.logo-container,
.toggle-theme-container {
  height: 115%;
}

.logo-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#company-title {
  display: none;
}

.logo-container img {
  height: 100%;
  /* transform: translateY(50%); */
}

.toggle-theme-container img,
.toggle-theme-container button {
  height: 60%;
}

.toggle-theme-container {
  /* width: 230px; */
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 0.75rem;
}

.toggle-theme-container__button {
  position: relative;
  width: 3.5rem;
  border-radius: 22px;
  background-color: #ffffff;
  transition: 0.2s linear;
  border-width: 0;
}

.toggle-theme-container__button::before {
  content: '';
  display: inline-block;
  height: 60%;
  aspect-ratio: 1;
  background-color: var(--main-color);
  border-radius: 100%;
  position: absolute;
  top: 20%;
  left: 9%;
  transition: 0.2s linear;
}

/* .toggle-theme-container__button[data-active-theme=light]::before{
  left: 9%;
}
.toggle-theme-container__button[data-active-theme=dark]::before{
  right: 9%;
} */
.toggle-theme-container__button[data-active-theme=light]::before {
  transform: translateX(0%);
}

.toggle-theme-container__button[data-active-theme=dark]::before {
  transform: translateX(230%);
  /* right: 9%; */
}

.header-access-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
}

.header-access-container button {
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem;
  /* padding-right: 1.5rem; */
  background-color: #5964e0;
  color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  font-weight: 700;
}

.header-access-container__sign-in,
.header-access-container__sign-up {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.header-access-container__sign-up button {
  background-color: #fff;
  color: #5964e0;
}

.header-access-container__sign-in-icon-container {
  width: 1.25rem;
  height: 1.25rem;
  display: none;
}

.header-access-container__sign-in button,
.header-access-container__sign-up button {
  transition: all 0.3s ease-in-out;
}

.header-access-container__sign-in button:hover,
.header-access-container__sign-up button:hover {
  filter: brightness(0.75);
  cursor: pointer;
}

.header-access-container__sign-in-users-list,
.header-access-container__sign-up-users-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
  position: absolute;
  top: calc(-50% - 7px);
  right: 105%;
  padding-block: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
}

.header-access-container__sign-in-users-list li,
.header-access-container__sign-up-users-list li {
  list-style-type: none;
}

.header-access-container__sign-in-users-list a,
.header-access-container__sign-up-users-list a {
  display: block;
  width: 100%;
  padding-block: 0.25rem;
  padding-inline: 0.75rem;
  color: var(--main-color);
  transition: background-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.header-access-container__sign-in-users-list a:hover,
.header-access-container__sign-up-users-list a:hover {
  background-color: #232a74;
  color: #fff;
}

/* home */

.jobposts-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 5%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  background-color: var(--bg-color);
}

.jobpost-home {
  position: relative;
  background-color: var(--card-color);
  margin-block: 2rem;
  border-radius: 1rem;
  padding: 5%;
  padding-top: 10%;
}

.jobpost-home__company-logo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 10px;
  left: 5%;
  top: -5%;
}

.jobpost-home__jobpost-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--text-paragraph);
  margin-top: 10px;
}

.jobpost-info__separator {
  width: 5px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--text-paragraph);
}

.jobpost-home__position {
  font-size: 1.5rem;
  color: var(--text-titles);
  padding-block: 1rem;
}

.jobpost-home__company {
  color: var(--text-paragraph);
  padding-bottom: 3rem;
}

.jobpost-home__location {
  color: #5964e0;
  font-weight: 700;
}

/* home search form */

.hidden {
  display: none !important;
}

label[for='position'],
.form-icon-position {
  display: none;
}

.form-filter-home {
  margin-inline: 5%;
  /* padding-inline: 1.5rem; */
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--card-color);
  display: flex;
  justify-content: space-between;
  /* transform: translateY(-50%); */
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  max-height: 100px;
}

.form-filter-home>.form-filter-container:nth-child(1) {
  flex-grow: 1;
}

.form-filter-container {
  display: flex;
  gap: 1rem;
}

#filterByPosition {
  width: 100%;
  border: 0 none transparent;
}

#filterByPosition:focus {
  border: 1px solid #00053f;
}

.form-icon-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0 none transparent;
}

.form-submit {
  background-color: var(--main-color);
  color: white;
  font-weight: 700;
  font-size: 1.25rem;
}

.form-submit:hover {
  cursor: pointer;
}

.form-submit-mobile {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0 none transparent;
  border-radius: 0.5rem;
}

.form-input-container-mobile {
  background-color: var(--card-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  padding-inline: 10%;
}

label[for='location'] {
  display: none;
}

.close-icon-container {
  position: absolute;
  top: 0;
  right: 0.25rem;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
}

.form-input-container-mobile>.form-filter-container:nth-child(1),
.form-input-container-mobile>.form-filter-container:nth-child(2) {
  width: 100%;
}

.form-input-container-mobile>.form-filter-container:nth-child(1) {
  position: relative;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 1rem;
  padding-top: 2.75rem;
  padding-bottom: 1.75rem;
  border-bottom: 1px solid #9daec2;
  background-color: var(--card-color);
  align-items: center;
  gap: 1.25rem;
}

.form-filter-home #filterByPosition {
  background-color: var(--card-color);
  color: var(--text-titles);
}

.form-filter-location {
  flex-grow: 1;
  /* height: 30px; */
  padding: 0.5rem 0;
  padding-inline: 0.5rem;
  background-color: var(--card-color);
  color: var(--text-titles);
}

.form-input-container-mobile>.form-filter-container:nth-child(2) {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 1rem;
  padding-top: 1.75rem;
  flex-direction: column;
  background-color: var(--card-color);
}

.form-full-time-container {
  display: flex;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}

.form-full-time-container>input[type='checkbox'] {
  width: 1.5rem;
  aspect-ratio: 1;
}

.form-submit-desktop {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0;
  border-radius: 0.25rem;
  border: 0 none transparent;
}

.form-error {
  margin-inline: 5%;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: red;
}

.form-error+.form-filter-home {
  outline: 2px solid red;
}

.home-search-result-message {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 5%;
}

/* jobpost view page */

.jobpost-view-header {
  position: relative;
  margin-inline: 5%;
  margin-bottom: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 1.75rem;
  background-color: #fff;
  border-radius: 0.75rem;
}

.jobpost-view-header__company-logo-container {
  position: absolute;
  top: -1.75rem;
  left: calc(50% - 1.75rem);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
}

.jobpost-view-header__info-container {
  background-color: var(--card-color);
}

.jobpost-view-header__info-container-text {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--text-paragraph);
}

.jobpost-view-header__info-container-text p {
  font-size: 1.75rem;
  font-weight: 700;
}

.jobpost-view-header__info-container-text span {
  display: block;
  width: 100%;
}

.jobpost-view-header__info-container-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jobpost-view-header__info-container-button a {
  /* display: inline; */
  margin: 0 auto;
  padding: 0.75rem;
  background-color: #eeeffc;
  color: #5964e0;
  font-weight: 700;
  border-radius: 0.5rem;
}

.jobpost-view-content {
  max-width: 800px;
  margin-inline: 5%;
  margin-bottom: 3rem;
  padding: 2rem;
  background-color: var(--card-color);
  border-radius: 0.75rem;
  color: var(--text-paragraph);
}

.jobpost-view-content__header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 2rem;
}

.jobpost-view-content__header-text {
  color: var(--text-paragraph);
}

.jobpost-view-content__header-text-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.jobpost-view-content__header-title {
  font-size: 2rem;
  color: var(--text-titles);
}

.jobpost-view-content__header-location {
  color: #5964e0;
  font-size: 0.9rem;
  font-weight: 700;
}

.jobpost-view-content__header-apply-link {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.jobpost-view-content__header-apply-link>a {
  padding-block: 0.75rem;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  background-color: #5964e0;
  color: #fff;
  border-radius: 0.5rem;
}

.jobpost-view-content__description {
  margin-bottom: 2rem;
  color: var(--text-paragraph);
}

.jobpost-view-content__req-title,
.jobpost-view-content__role-title {
  font-size: 1.5rem;
  color: var(--text-titles);
  margin-bottom: 1rem;
}

.jobpost-view-content__req-list,
.jobpost-view-content__role-list {
  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: 2rem;
}

.jobpost-view-content__req-list>li,
.jobpost-view-content__role-list>li {
  transform: translateX(3%);
  margin-bottom: 0.75rem;
  padding-left: 10px;
}

.jobpost-view-content__req-list>li::marker,
.jobpost-view-content__role-list>li::marker {
  padding-right: 0.5rem;
}

.jobpost-view-content__role-list>li::marker {
  color: var(--main-color);
  font-weight: 700;
}

.jobpost-view-footer {
  width: 100%;
  background-color: var(--card-color);
  padding-inline: 5%;
  padding-block: 2rem;
}

/* .jobpost-view-footer-container{} */

.jobpost-view-footer-container__text {
  display: none;

}

.jobpost-view-footer__apply-link a {
  display: block;
  padding-block: 1rem;
  background-color: #5964e0;
  color: #fff;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
}

/* user Sign Up Form*/

.user-signup-form {
  padding-inline: 5%;
}

.user-signup-form__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-signup-form__container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.75rem;
}

.user-signup-form__container label {
  color: #5964e0;
  font-weight: 700;
}

.user-signup-form__container input {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #6e8098;
  background-color: var(--card-color);
  color: var(--text-titles);
}

.user-signup-form__container input[type='submit'] {
  margin-top: 2.5rem;
  padding-block: 0.75rem;
  background-color: #5964e0;
  color: #fff;
  font-weight: 700;
  transition: all ease-in-out 0.2s;
  border: 0 none transparent;
}

.user-signup-form__container input[type='submit']:hover {
  background-color: #232a74;
}

.user-signup-form__container .error {
  color: #c60038;
}

.user-signup-form__container .error+input {
  border: 2px solid #c60038;
}

/* login error message */
.login-error {
  margin-bottom: 1.5rem;
  padding-block: .75rem;
  border-radius: .5rem;
  /* border: 1px solid #c60038; */
  text-align: center;
  color: #c60038;
  background-color: var(--card-color);
}


.user-signup-form__container input[type='file'] {
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.user-signup-form__container input[type='color'] {
  padding: 2px 6px;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  min-width: 69px;
  min-height: 30px;
}

.user-signup-form__container input[type='file']:hover,
.user-signup-form__container input[type='color']:hover {
  filter: brightness(0.9);
}

.user-signup-form__info-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  /* gap: 0.75rem; */
  margin-bottom: 1.75rem;
  font-size: 0.75rem;
  color: #8a8eb4;
  cursor: pointer;
}

.user-signup-form__info-container span {
  padding-right: 0.75rem;
}

.user-signup-form__info-container--icon-container {
  display: inline;
  width: 20px;
  height: 20px;
  /* margin-left: .75rem; */
}

.user-signup-form__info-container--info-list {
  width: 200%;
  position: absolute;
  top: 200%;
  width: 130%;
  padding-block: 1.25rem;
  background-color: #e1dcff;
  border-radius: 0.25rem;
  cursor: default;
}

.user-signup-form__info-container--info-list:before {
  position: absolute;
  content: '';
  top: -12px;
  left: 15%;
  transform: rotate(45deg);
  width: 24px;
  height: 24px;
  background-color: #e1dcff;
}

.user-signup-form__info-container--info-list ul {
  transform: translateX(2rem);
  width: 85%;
}

.info-container__info-list--close-icon-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  padding: 0.5rem;
  cursor: pointer;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ user account page */
.user-account-container {
  max-width: 800px;
  /* margin: 0 auto; */
  margin-inline: 5%;
  margin-bottom: 3rem;
}

.user-account-container__title {
  color: var(--text-titles);
  margin-bottom: 2rem;
  font-size: 2rem;
}

.user-account-container__personal-info {
  position: relative;
  background-color: var(--card-color);
  color: var(--text-paragraph);
  padding: 2rem;
  border-radius: 0.75rem;
  margin-bottom: 2.5rem;
}

.user-account-container__personal-info-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--text-titles);
}

.personal-info-container__row {
  display: flex;
  justify-content: space-between;
}

.personal-info-container__row span:first-child {
  color: var(--text-titles);
}

.jobapplications-list-container__child-item--btn{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  /* width: 20%; */
}
.jobapplications-list-container__child-item--btn a{
  display: block;
  padding-block: 1rem;
  padding-inline: .75rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--main-color);
  color: #fff;
  font-weight: 700;
  border-radius: .5rem;
  cursor: pointer;
  filter: brightness(.85);
  transition: all 0.25s ease-in-out;
}

.jobapplications-list-container__child-item--btn a:hover{
  filter: brightness(1);
}

.jobposts-list-container__child-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
  padding: .5rem;
  background-color: var(--bg-color);
  border-radius: .5rem;
}

.jobposts-list-container__child-item > div:nth-child(2) p:nth-child(2){
  margin-bottom: .75rem;
}
.jobposts-list-container__child-item > div:nth-child(2) a{
  /* gap: 1rem; */
  margin-bottom: 1rem;
  text-decoration: none;
  padding: .2rem;
  border-radius: .3rem;
  background-color: #fff;
  outline: 3px solid var(--main-color);
  color: var(--main-color);
  filter: brightness(.85);
  transition: all 0.25s ease-in-out;  
}

.jobposts-list-container__child-item > div:nth-child(2) a:hover{
filter: brightness(1);
}

.jobposts-list-container__child-item--position{
  color: var(--text-titles);
  font-size: 1.25rem;
  font-weight: 700;
}

.jobposts-list-container__child-item--contract,
.jobposts-list-container__child-item--location,
.jobposts-list-container__child-item--postedat {
  color: var(--text-titles);
}

@media screen and (min-width: 580px) {
  .jobposts-list-container__child-item {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding: .75rem;
    border-radius: .75rem;
  }
  .jobposts-list-container__child-item > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}


@media screen and (min-width: 768px) {
  header {
    background-image: url('/static/img/bg-pattern-header-desktop.svg');
  }

  /* .logo-container img {
    height: 70%;
    transform: translateY(30%);
  } */

  .jobposts-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-access-container {
    flex-direction: row;
    height: auto;
    align-self: start;
  }

  .header-access-container__sign-in-users-list,
  .header-access-container__sign-up-users-list {
    top: 115%;
    right: 0;
    gap: 0;
    padding-block: 0.2rem;
  }

  .header-access-container__sign-in-icon-container {
    display: block;
  }

  /* home filter form */

  .form-icon-position {
    display: block;
  }

  .form-filter-home>.form-filter-container:first-child {
    width: 30%;
    align-items: center;
  }

  #filterByPosition {
    align-self: stretch;
    padding-inline: 1rem;
  }

  .form-filter-home>.form-input-container-mobile {
    width: 70%;
  }

  .form-input-container-mobile>.form-filter-container:first-child {
    width: 60%;
  }

  .form-input-container-mobile>.form-filter-container:last-child {
    width: 40%;
  }

  .form-filter-container-search-mobile {
    display: none;
    width: 30px;
    height: 30px;
  }

  .form-input-container-mobile {
    position: relative;
    width: auto;
    height: auto;
    flex-direction: row;
    padding-inline: 0;
    /* background-color: white; */
  }

  .close-icon-container {
    display: none;
  }

  .form-input-container-mobile>.form-filter-container:nth-child(1) {
    padding: 0;
    padding-inline: 1rem;
    border: 0 none transparent;
  }

  .form-input-container-mobile>.form-filter-container:nth-child(2) {
    padding: 0;
    padding-inline-start: 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .form-filter-location {
    max-width: 90%;
  }

  .form-full-time-container {
    margin-bottom: 0;
  }

  .form-submit-desktop {
    width: auto;
    padding-inline: 0.75rem;
  }

  label[for='contract'] {
    max-width: 9ch;
  }

  /* jobpost view page */

  .jobpost-view-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;
    height: 15%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .jobpost-view-header__company-logo-container {
    position: initial;
    width: 15%;
    height: 15%;
    aspect-ratio: 1/1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .jobpost-view-header__info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 2rem;
    width: 85%;
  }

  .jobpost-view-header__info-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    text-align: left;
  }

  .jobpost-view-header__info-container-text p {
    color: var(--text-titles);
  }

  .jobpost-view-header__info-container-text span {
    color: var(--text-paragraph)
  }

  .jobpost-view-content {
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .jobpost-view-content__header {
    flex-direction: row;
    justify-content: space-between;
  }

  .jobpost-view-content__header-apply-link {
    justify-content: center;
  }

  .jobpost-view-content__header-apply-link a {
    padding-block: 1rem;
    padding-inline: 1.5rem;
  }

  .jobpost-view-footer {
    padding: 0;
    padding-inline: 5%;
  }

  .jobpost-view-footer-container {
    padding-block: 1rem;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .jobpost-view-footer-container__text {
    display: block;
  }

  .jobpost-view-footer-container__text span {
    display: block;
    color: var(--text-paragraph);
  }

  .jobpost-view-footer-container__text-position {
    color: var(--text-titles) !important;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .jobpost-view-footer__apply-link a {
    padding-inline: 1.75rem;
  }

  /* user signup page */
  .user-signup-form {
    max-width: 1080px;
    margin: 0 auto;
  }

  .user-signup-form__container input[type='submit'] {
    width: 30%;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .user-signup-form__info-container--info-list {
    width: 200%;
  }

  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ user account page */
  .user-account-container {
    /* max-width: 800px; */
    /* margin-inline: 5%; */
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 1080px) {
  .jobposts-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  label[for='contract'] {
    max-width: unset;
  }

  .user-signup-form__flex {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {

  .jobposts-container,
  .home-search-result-message {
    padding-inline: 0;
  }
}